//mobile first - 320 to 480px
.container {
  margin: 0 auto;
  max-width: 480px;
}

@media screen and (min-width: $mobile-breakpoint) {
  .container {
    max-width: 768px; //from 481 to 768px
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .container {
    max-width: 1200px; //from 769px to 1200px
    margin-left: 215px;
  }
}
